<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav th:fragment="navbar" class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-center">

<!--        todo zamienic na home/strona domowa, ikone domku, logo link etc-->
        <a th:href="@{/}" class="uk-navbar-item uk-logo">Shop!!</a>
        <ul class="uk-navbar-nav">

<!--            todo labelka prodyukty zamienić na oferta-->
            <li class="uk-parent"><a th:href="@{/products}">Produkty</a></li>

<!--            todo koszyk dodadać badg'a wyswietlającego ilość produktów w poszyku-->
            <li class="uk-parent"><a th:href="@{/basket}">Koszyk</a></li>

<!--            todo przemeśleć zakładkę dostawa, czy wogóle potrzebna-->
            <li class="uk-parent"><a th:href="@{/shipping}">Dostawa</a></li>
        </ul>
    </div>
</nav>



</body>
</html>