<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout ::layout(~{::.container})}">
<body>

<div class="container">

            <h2>KOSZYK</h2>

            <table class="uk-table uk-table-striped">
                <thead>
                <tr>
                    <th></th>
<!--                    <th>Id</th>-->
                    <th>Nazwa</th>
                    <th>Cena</th>
                    <th>Zarezerwowana Ilość [Sztuk]</th>
                    <th>Cena całkowita</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="product: ${products}">
                    <td><img th:src="@{'data:image/png;base64,'+ ${product.icon}}" alt="under construction" /></td>
                    <td th:text="${product.id}" hidden></td>
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.price}"></td>
                    <td th:text="${product.amount}"></td>
                    <td th:text="${product.totalPrice}"></td>
                    <td style="width:250px">
                          <a th:href="@{/basket/{id}(id=${product.id})}"><input class="uk-button uk-label-success" value="Zmień" type="button"></inut></a>
                          <a th:href="@{/basket/delete/{id}(id=${product.id})}"><input class="uk-button uk-label-danger" value="Usuń" type="button"></inut></a>
<!--                          <a th:href="@{/basket/delete/{id}(id=${product.id})}"><input class="uk-button uk-label-danger" value="Wyświetl szczegóły" type="button"></inut></a>-->
                     </td>
        </tr>
        </tbody>
    </table>


<!--    <form action="#" th:action="@{/basket}" th:object="${radioButtonSelectedValue}" method="post">-->
<!--        <div>-->
<!--            <h3><span>Dostawa</span></h3>-->
<!--            <ul>-->
<!--                    <li th:each="radioValue: ${singleSelectAllValues}">-->
<!--                        <input type="radio"-->
<!--                               th:field="*{radioButtonSelectedValue}"-->
<!--                               th:value="${radioValue.getValue()}" />-->
<!--                        <label-->
<!--                                th:for="${#ids.prev('radioButtonSelectedValue')}"-->
<!--                                th:text="${radioValue.getKey()}"></label>-->
<!--                    </li>-->
<!--            </ul>-->

<!--            <p><input type="submit" value="Submit" /></p>-->

<!--        </div>-->
<!--    </form>-->

    <table class="uk-table uk-table-striped">
        <thead>
            <tr>
                <th>Wartość koszyka</th>
                <th>Sumaryczna ilość produktów</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td th:text="${basketTotalPrice} + ${shipping}"></td>
                <td th:text="${basketTotalItems}"></td>
                <td>
                    <a th:href="@{/basket/deleteAll}"><input class="uk-button uk-label-danger" value="Wyczyść koszyk" type="button"></inut></a>
                </td>
                <td>
                    <a th:href="@{/basket/buy}"><input class="uk-button uk-label-success" value="Kup" type="button"></inut></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>