<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout ::layout(~{::.container})}">
<head>
    <meta charset="UTF-8">
    <title>products details</title>
</head>
<body>

    <div class="container">
        <h2>Gitary Elektryczne</h2>

        <img th:src="@{'data:image/png;base64,'+ ${product.icon}}" alt="under construction" />
        <div>
            <span th:text="${product.name}"></span>
        </div>
        <div>
            <span th:text="${product.price}"></span>
        </div>
        <div>
            <span th:text="${product.availability}"></span>
        </div>

<!--        todo dokonczyc-->

<!--        th:text="${product.price}"-->
<!--        th:text="${product.id}"-->

<!--        <table class="uk-table uk-table-striped">-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th>Zdjecie</th>-->
<!--                <th>Nazwa</th>-->
<!--                                <th>Opis</th>-->
<!--                <th>Cena</th>-->
<!--                <th>ID</th>-->
<!--                                <th>Dostępna Ilość</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!---->
<!--            <tbody>-->
<!---->
<!--                <td><img th:src="@{'data:image/png;base64,'+ ${product.icon}}" alt="under construction" /></td>-->
<!--                <td th:text="${product.name}"></td>-->
<!--                <td th:text="${product.price}"></td>-->
<!--                <td th:text="${product.id}"></td>-->
<!--            </tbody>-->
<!--                <td style="width:250px">-->
<!--                    <a th:href="@{/products/{id}(id=${product.id})}"><input class="uk-button uk-label-warning" value="Add Into Basket" type="button"></inut><span uk-icon="icon: cart; ratio: 2"></span></a>-->
<!--                </td>-->
<!--        <form style="width: 400px; margin: auto" th:object="${product}" th:action="@{/products/save}" method="post"> &lt;!&ndash;action informyje gdzie ten formulz zostanie przekazany &ndash;&gt;-->
<!--            <div class="uk-margin">-->
<!--                <label>Nazwa</label>-->
<!--                <input th:field="*{name}" type="text" class="uk-input">-->
<!--            </div>-->
<!---->
<!--            <div class="uk-margin">-->
<!--                <label>Cena</label>-->
<!--                <input th:field="*{price}" type="number" step="0.01" class="uk-input">-->
<!--            </div>-->
<!---->
<!--            <div class="uk-margin">-->
<!--                <label>Ilość</label>-->
<!--                <input th:field="*{quantity}" type="number" class="uk-input">-->
<!--            </div>-->
<!---->
<!--            <div class="uk-margin">-->
<!--                <label>Dostępność</label>-->
<!--                <input th:field="*{available}" type="checkbox" class="uk-checkbox">-->
<!--            </div>-->
<!--            <input th:field="*{id}" type="number" hidden>-->
<!--            <a th:href="@{/products}"><input class="uk-button uk-button-danger" type="button" value="Anuluj"></a>-->
<!--            <input type="submit" class="uk-button uk-button-primary" value="Zapisz">-->
<!--        </form>-->

<!--        </table>-->
    </div>

</body>
</html>