<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout ::layout(~{::.container})}">
<head>
    <meta charset="UTF-8">
    <title>products details</title>
</head>
<body>

    <div class="container">
        <table class="uk-table uk-table-striped">
            <thead>
            <tr>
                <th><h2><span th:text="${product.name}"></span></h2></th>
            </tr>
            </thead>

            <tbody>
                <tr>
                    <td><img th:src="@{'data:image/png;base64,'+ ${product.picture}}" alt="under construction" /></td>
                </tr>
                <tr>
                    <td style="width:800px" th:text="${product.description}"></td>
                </tr>
            </tbody>

            <tr>
                <th>Cena</th>
                <th>Dostępna Ilość</th>
                <th>Dodaj sztuk</th>
                <th>Koszyk</th>
            </tr>
                <tbody>
                    <tr>
                        <td  style="width:250px" th:text="${product.price}"></td>
                        <td th:text="${product.availability}"></td>
                        <td>
                            <form>
                                <div class="uk-margin" style="width:100px">
                                    <input th:field="${product.amount}" type="number" th:min="1" th:max="${product.availability}" class="uk-input">
                                </div>
                            </form>
                        </td>
                        <td style="width:250px">
                            <a th:href="@{/products/{id}/{id}(id=${product.id})}"><input class="uk-button uk-label-warning" value="Add Into Basket" type="button"></inut><span uk-icon="icon: cart; ratio: 2"></span></a>
                        </td>
                        <td th:text="${product.id}" hidden></td>
                    </tr>
                    <tr>
                        <td>
                            <a th:href="@{/products}"><input class="uk-button uk-button-danger" type="button" value="Anuluj"></a>
                        </td>
<!--                        <td>-->
<!--                            <input type="submit" class="uk-button uk-button-primary" value="Zapisz">-->
<!--                        </td>-->
                    </tr>
            </tbody>

<!--            todo dokonczyc minimalna/defoultowa wartość do pola dodawania sztuk/min=1 -->
<!--            todo funkcjonalności przycisków-->

        </table>
    </div>
</body>
</html>