<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout ::layout(~{::.container})}">
<head>
    <meta charset="UTF-8">
    <title>products details</title>
</head>
<body>

    <div class="container">
        <h2><span th:text="${product.name}"></span></h2>
        <div class="uk-panel">
            <img class="uk-align-left uk-margin-remove-adjacent uk-width-2-5@l" th:src="@{'data:image/png;base64,'+ ${product.picture}}" alt="under construction"/>
            <p><span th:text="${product.description}" class="uk-text-meta"></span></p>
        </div>

        <table class="uk-table uk-table-striped">
            <thead>
            <tr class="uk-text-bold">
                <th>Cena</th>
                <th>Dostępna Ilość</th>
                <th>Dodaj sztuk</th>
                <th>Koszyk</th>
            </tr>
            </thead>
                <tbody>
                    <tr>
                        <td   style="width:250px" th:text="|${#numbers.formatDecimal(product.price, 1 ,2)} zł|"></td>

                        <td style="width:250px" th:text="${product.availability}"></td>
                        <td>
                            <form style="width:200px" action="#" th:action="@{/details/update}" method="post" th:object="${product}">

                                <div>
                                    <input th:field="*{id}" type="text" th:value="${product.id}" class="uk-input" hidden>
                                </div>

                                <div>
                                    <input th:field="*{name}" type="text" th:value="${product.name}" class="uk-input" hidden>
                                </div>

                                <div>
                                    <input th:field="*{icon}" type="text" th:value="${product.icon}" class="uk-input" hidden>
                                </div>

                                <div>
                                    <input th:field="*{price}" type="text" th:value="${product.price}" class="uk-input" hidden>
                                </div>

                                <div class="uk-margin" style="width:100px">
                                    <input th:field="*{amount}" type="number" th:min="1" th:max="${product.availability}" class="uk-input">
                                </div>
                                <td>
                                    <div th:if="${product.availability}>0">
                                        <input  type="submit" class="uk-button uk-button-primary" value="Dodaj do koszyka">
                                    </div>
                                    <div th:unless="${product.availability}">
                                        <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
                                        <p> Produkt chwilowo niedostępny </p>
                                        </div>
                                    </div>
                                </td>
                            </form>
                        <td th:text="${product.id}" hidden></td>
                    </tr>
                    <tr>
                        <td>
                            <a th:href="@{/products}"><input class="uk-button uk-button-danger" type="button" value="Anuluj"></a>
                        </td>
                    </tr>
            </tbody>

        </table>
    </div>
</body>
</html>