<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout ::layout(~{::.container})}">
<body>

<div class="container">

            <h2>Gitary Elektryczne</h2>

            <table class="uk-table uk-table-striped">
                <thead>
                <tr>
                    <th></th>
                    <th>Nazwa</th>
                    <th>Cena</th>
<!--                    todo dostępna ilość wycentrowne w kolumnie-->
                    <th>Dostępna Ilość</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="product: ${products}">
                    <td><img th:src="@{'data:image/png;base64,'+ ${product.icon}}" alt="under construction" /></td>
                    <td th:text="${product.name}"></td>
                    <td th:text="|${#numbers.formatDecimal(product.price, 1 ,2)} zł|"></td>
                    <td th:text="${product.id}" hidden></td>
                    <td th:text="${product.availability}" ></td>

                    <td style="width:250px">
                        <a th:href="@{/details/{id}(id=${product.id})}"><input class="uk-button uk-label-warning" value="Zobacz szczegóły" type="button"></a>
                    </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>